@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
   
}
.principio{
    background-color: lightsteelblue;
}
.barras{
    display: flex;
    padding: left 20px; ;
}
.barra-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    
    
  }
  
  
  .icono {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  
  .icono i {
    margin-right: 5px;
    padding-top: 20px;
  }
  .barra-vertical:hover::after {
    content: attr(data-nombre);
    position: absolute;
    top: -20px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .icono:hover {
    background-color: darksalmon;
  }
.por{
    text-decoration: none;

}
.por,.pori{
    text-decoration: none;
    color: black;
    padding-left: 16px;
    padding-top: 10px;
    

}
.ji{
    
    padding-left: 50px;
}

.yi{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    
}
.ji :hover{
    text-decoration-line:underline

}
.ty{
    border-radius: 50px;
    height: 60px;
    width: 60px;
   
}
.principio{
    width: 100%;
}

section{
 width: 100%;
 padding: 3rem 0;
}
nav{
    background-image: url(../img/montaña.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
}
.barra{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
   .barras{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    
   }

   .tomass{
    color: coral;
    font-size: 2rem;
   }

   .heros{
    display: block;
    padding: 2rem;
    text-align: left;
   
    
   }
   .eros{
    display: flex;
    position: absolute;
    top: 15rem; 
    padding-left: 10rem;
    font-size: 2rem;
    color: floralwhite;
    
   }

   .toma{
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 4rem;
    width: 60%;

   }
   .presentacion{

    width: 100%;
   }

   .profesional{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 100px;

   }
   .profesional1{
    margin-left: 100px;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
   }
   .parrafo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
   }
   .foto{
    position: absolute;
    top: 590px;
    right: 0px;
    left: 650px;
    width: 400px;
    height: 500px;
    

   }
   .bestwork{
    display: flex;
    justify-content: space-between;
    margin-top: 0,5rem;
    margin-left: 4rem;
    width: 90%;
   }

   
   
   .foto1,.foto2{
    width: 500px;
    height:300px;
    width: 96%;

   }
   
   .foto3{
    width: 400px;
    height: 300px;
    

   }
   .parrafo1,.parrafo2{
    color: darkgrey;
    
   }
   .parrafo4{
    color: darkgrey;
    position: absolute;
    top: 1503px;
    left: 845px;
   }
   .parrafo3{
    color: darkgrey;
    position: absolute;
    top: 1503px;
    left: 480px;

   }

   .flecha{
    
    color: darkgrey;
    padding: 20px;
    width: 100px;
    height: 150px;
}
.work{
    margin: 2rem;

}
.video{
    margin: 3rem;
    
}

.titulo{
    text-transform: uppercase;
    width: 20%;
    padding: 3rem 0;
    margin: 2rem;
}
.play1{
    
    margin: 2rem;
    width: 3rem;
    position: absolute;
    top: 2099px;
    right: 0;
    left: 700px;
    bottom: 100px;
}
.play2{
    margin: 2rem;
    width: 3rem;
    position: absolute;
    top: 2099px;
    left: 300px;
    

}

.maxi{
    position: absolute;
    right:360px;
    top: 1070px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}
.oslo{
   
    font-size: 1rem;
    color:white;
    position: absolute;
    left: 550px;
    top: 2200px;
}

.h11{
    padding-left: 4rem;
    
}


.yes{
   
    font-size: 13px;
    padding-right: 2rem;
    padding-top: 150px;
    width: 30%;
}
.clase1{
    display: inline-flex;
    justify-content: space-evenly;
    
}
.ah,.oh,.ohi{
    font-size: 1rem;
    list-style: none;
    text-transform: uppercase;
    padding-top: 54px;
    
    
}
.oh{
    border-bottom: 2px solid black;
    word-spacing: 4vw;


}
.oho{
    font-size: 1rem;
    list-style: none;
    text-transform: uppercase;
    padding-top: 54px;
    word-spacing: 9vw;
    border-bottom: 2px solid black;
}

.ohi{
    font-size: 1rem;
    list-style: none;
    text-transform: uppercase;
    
    word-spacing: 5vw;
    border-bottom: 2px solid black;
}

.award{
    background-color: linen;
    padding-left: 4rem;
}

.award1{
    display: flex;
    justify-content: space-between;
}
.texto1{
    padding-top: 15rem;
    width: 30%;
}
    
.persona2{
    width: 400px;
    height: 400px;
}


.lunes1{
    text-transform: uppercase;
    padding: 1rem 0;
    margin: 4rem ;
}

.martes1{
    display: flex;
    justify-content: space-evenly;
    
}




form{
    width: 340px;
    height: 440px;
    border-radius: 8px;  
}

input{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0;
    border-bottom: 2px solid black;
    margin: 20px 0 0 ;
}
    
.enviar{
    background-color:black;
    color: white;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    margin: 30px 0 0 ;
}
.redes{
  padding: 2rem;
  margin-top: -250px;
    
}


.finalidad{
    background-color: black;
    text-align: center;
    padding: 2rem;
    
}
.publick{
    color: white;
    font-size: 0.7rem;
}
.publick1{
    color: white;
    font-size: 2rem;
    
}

.dale1{
    display: flex;
    justify-content: center;
    color: dimgrey;
    


}
    
@media screen and (min-width:1024px) {
    
    /* Estilos para pantallas de hasta 768px de ancho */
  }
  
  @media screen and  (min-width: 768px) and (max-width: 1023px) {
   .barras{
    font-size: 12px;
   }
   .barra{
    display: flex;
   justify-content: space-between;
   }
   .tomass{
    font-size: 24px;
   }
   .barra-vertical{
    
    margin-top: 200px;
   }
   .eros{
    display: inline-flex;
    
    
   }
   .toma{
    position: absolute;
    padding-top: 40px;
    padding-left: 150px;
    font-size: 40px;
}
.profesional1{
    font-size: 1rem;
}
.foto{
    display: flex;
    position: absolute;
    top: 950px;
    left: 470px;
    width: 300px;
    height: 500px;
}
.bestwork{
    display: flex;
    justify-content: space-around;
    
}
.work{
    padding: 4.5rem;
}

.foto1{
    height: 260px;
    width: 200px;
}
.foto2{
    width: 200px;
    height: 260px;
    
}
.foto3{
    width: 270px;
    height: 260px;
}

.parrafo3{
    
    position: absolute;
    left:260px;
    top: 2130px;

}

.parrafo4{

    position: absolute;
    left:470px;
    top: 2130px;
}
.fotos{
    width: 350px;
    height: 300px;

}
.fotos1{
    width: 350px;
    height: 300;
}
.play1{
    position: absolute;
    top: 2700px;
    left: 600px;
}
.play2{
    position: absolute;
    left:280px;
    top: 2703px;
}


.maxi{
    position: absolute;
    left: 240px;
    top: 1390px;
    font-size: 1.5rem;
}
.oslo{
    position: absolute;
    position: absolute;
    left: 472px;
    top: 2820px
}
.award1{
    display: flex;
    justify-content: space-evenly;
}

.persona2{
    width: 200px;
    height: 220px;
}
.texto1{
    padding-top: 12rem;
    width: 28%;
    font-size: 10px;
}
 
    /* Estilos para pantallas de 768px a 1023px de ancho */
  }
  
 
    @media screen and (max-width: 767px){
        
        nav{
            width: 610px;
            
        }

        .tomass{
            
            font-size: 20px;
        }
        .barras{
            font-size: 18px;
            color: yellow;
        }
        .eros{
            padding: 20px;
            font-size: 30px;
            
        }
        
        .toma{
            font-size: 50px;
            position: absolute;
            top:70px;
            left: 160px;
            
            
        }
        .profesional1{
          
           font-size: 18px;
           
            
        }
        .parrafo{
            width: 100%;
            font-size: 20px;
            
           
            
        }
    
        .foto{
            width: 222px;
            height: 400px;
            position: absolute;
            left: 384px;
            top: 830px;
        }
        .bestwork{
            display: inline-flex;
            position: absolute;
            right:20px ;
        }
        .flecha{
            width: 60px;
            
        }
        .foto2{
            width: 180px;
            height: 190px;
        }
        .foto1{
            width: 180px;
            height: 190px;
    
        }
        .foto3{
            width: 160px;
            height: 190px;
            

        }
        .parrafo4{
            
            position: absolute;
            top: 190px;
            left: 390px;
    
    
        }
        .parrafo3{
            
            position: absolute;
            top: 190px;
            left: 220px;
        }
        .fotos{
            width: 200px;
            height: 190px;
            
        }
        .fotos1{
            width: 200px;
            height: 190px;

        }
        .play1{
            position: absolute;
            right: 600px;
            left: 70px;
            top: 1990px;
        }
        .play2{
            position: absolute;
           top: 1990px;
           left: 320px;
        }
        .maxi{
            font-size: 20px;
            position: absolute;
            left: 140px;
            top:1030px ;
        }
        .oslo{
             position: absolute;
             
            left: 280px;
            top:2090px ;

        }
        .yes,.ah{
            display: inline-block;  
        }
        
            
        .yes{
            width: 100%;
            margin-left: 17px;
            font-size: 15px;
            margin-bottom: 40px;
            
        }
        .ah{
            margin-left: 80px;
            width: 100%;
        }
        .oh,.ohi{
            font-size: 12px;
            
        }

        .award{
            display: flex;
            justify-content: space-between;
            width: 150%;
            background-color: floralwhite;
        }
       .persona2{
        padding: 6px;
        width: 180px;
        height: 200px;
       }
       .award1{
        display: flex;
        justify-content: space-around;
       }
       .texto1{
        position: absolute;
        right: 0;
        left: 20px;
        margin: 0;
        width: 90%;
        
       }

        /* Estilos para pantallas de 767px de ancho en adelante */
        
        }

    


   

